<!DOCTYPE html>
<html>
	<head>
		<title>Add New Product</title>
	</head>
	<body>
		<input id="name" type="text" placeholder="Enter Product Name">
		<label for="varaities">Varaities</label><textarea id="varaities">
		</textarea>
		<label for="sizes">Sizes</label><textarea id="sizes"></textarea>
		</textarea>
		<label for="sizes">Stock</label><textarea id="stock"></textarea>
		<textarea id="image"></textarea>
		<select>
			<option>Choose Category...</option>
			<option>Sweets</option>
			<option>Drinks</option>
			<option>Food</option>
			<option>Ingredients</option>
			<option>Cleaning Products</option>
			<option>Others</option>
		</select>
		<button>
			CLICK
		</button>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="new-product.js"></script>
	</body>
</html>