.container-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	margin-top: 150px;
}

.logo {
	width: 250px;
	height: 250px;
}

.breadcrumb {
	position: absolute
}

button {
    width: 70px; 
    height: 40px; 
    margin: 0;
}

.add {
    background-color: #00ae84;
}

.remove {
    background-color: #e04f5f;
}

img {
    width: 30px;
    height: 30px;
}