.container-flex {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-heading {
	text-align: center;
    background-color: #070708;
    color: white;
}

*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

nav {
	position: absolute;
}

.my-float{
	margin-top:22px;
}

.card {
    width: 250px;
    height: fit-content;
    border: 2px solid rgb(231, 231, 231);
}

img {
    width: 250px;
    height: 150px;
}

.body {
    background-color: rgb(231, 231, 231);
    margin: 0; 
}

.header {
    background-color: white;
    width: 150px;
    height: max-content;
    margin: 0;
}

.disabled {
    opacity: 0.50;
    
}

.total {
    margin-top: 20px;
    padding: 5px;
    background-color: white;
}

.input-group {
    margin-top: 20px;
}

.numpad {
    width: 250px;
    height: 55px;
    background-color:rgb(231, 231, 231);
    display: flex;
    padding: 0; 
}

.delete {
    background-color: #e04f5f;
    width: 75px;
    height: 60px;
    margin: 0;
    border: none;
    outline: none;
    padding: 0;
}

.add {
    background-color: #00af85;
    width: 75px;
    height: 60px;
    margin: 0;
    border: none;
    outline: none;
    padding: 0;
}

.num {
    background-color: white;
    width: 100px;
    height: 60px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.add-img {
    width: 75px;
    height: 60px;
}

.add-to-cart {
    width: 250px;
    color: black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}