    <head>
        <title>Super Market El Bahrin| Categories</title>
        <link rel="stylesheet" href="./categories.css">
    </head>
    <body>
        <a href="/sweets" class="container"><img src="images.jpg"></a>
        <a href="/drinks" class="container"><img src="./download.jpg"></a>
        <a href="/food" class="container"><img src="food.jpg"></a>
        <a href="/ingredients" class="container"><img src="download1.jpg"></a>
        <a href="/cleaning" class="container"><img src="b77cfb22.jpg"></a>
        <a href="/other" class="container"><img src="download2.jpg"></a>
    </body>
