<!DOCTYPE html>
<html>
   <head>
     <title></title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
   </head>
   <body>
	   <style>
			body {
    display: flex;
    font-family: 'Notable', sans-serif;
}

div {
    width: 10vw;
    height: 20vh;
    font-size: 3vw;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mark {
    background-color: green;
}

img {
    width: 20px;
    height: 20px;
}

.numpad {
    position: absolute;
    left: 38%;
    top: 60%;
    width: 20vw;
    display: flex;
    flex-direction: row;
    border: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 50px;
}

.floor {
    width: 100%;
    height: 33.333%;
    border: 2px solid red;
    margin-bottom: 80px;
}

#V-2 {
    left: 160px;
    width: 40%;
}

#V-3 {
    right: 20%;
    left: 53%;
    width: 34%;
}
   
.done {
	width: 40px;
	height: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    align-items: flex-start;
}

button {
    position: absolute;
    top: 130vh;
	left: 0;
    width: 98vw;
	height: 50px;
    background-color: #32ba7c;
}
	   </style>
	   <p class="unit" style="display: none"><%= order.unit %></p>
	   <a href="/order/done/<%= order._id %>"><button class="btn"><img class="done" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/480px-Flat_tick_icon.svg.png"></button></a>
      <div class="container" style="float: left;">
        <div id="V-1">V-1</div>
        <div id="U-4">U-4</div>
        <div id="U-3">U-3</div>
        <div id="U-2">U-2</div>
        <div id="U-1">U-1</div>
    </div>
        <div class="front" id="V-2">V-2</div>
        <div class="front" id="V-3">V-3</div>
        <div class="container">
        <div  id="V-4">V-4</div>
            <div  id="U-5">U-5</div>
            <div  id="U-6">U-6</div>
            <div  id="U-7">U-7</div>
            <div  id="U-8">U-8</div>
     </div>
     <div class="numpad">
         
        <div class="floor">
            <div id="3"><img src="https://www.pinclipart.com/picdir/middle/173-1732997_clipart-free-library-left-svg-png-icon-free.png"></div>
            <div id="2"><img src="https://cdn.iconscout.com/icon/free/png-256/up-arrow-1965049-1660442.png"></div>
            <div id="1"><img src="https://cdn.iconscout.com/icon/free/png-256/right-arrow-1438234-1216195.png"></div>
        </div>
        -
        <div class="floor">
            <div id="6"><img src="https://www.pinclipart.com/picdir/middle/173-1732997_clipart-free-library-left-svg-png-icon-free.png"></div>
            <div id="5"><img src="https://cdn.iconscout.com/icon/free/png-256/up-arrow-1965049-1660442.png"></div>
            <div id="4"><img src="https://cdn.iconscout.com/icon/free/png-256/right-arrow-1438234-1216195.png"></div>
        </div>
        --
        <div class="floor">
            <div id="9"><img src="https://www.pinclipart.com/picdir/middle/173-1732997_clipart-free-library-left-svg-png-icon-free.png"></div>
            <div id="8"><img src="https://cdn.iconscout.com/icon/free/png-256/up-arrow-1965049-1660442.png"></div>
            <div id="7"><img src="https://cdn.iconscout.com/icon/free/png-256/right-arrow-1438234-1216195.png"></div>
        </div>
        ---
        <div class="floor">
            <div id="11"><img src="https://www.pinclipart.com/picdir/middle/173-1732997_clipart-free-library-left-svg-png-icon-free.png"></div>
            <div id="10"><img src="https://cdn.iconscout.com/icon/free/png-256/right-arrow-1438234-1216195.png"></div>
        </div>
     </div>
     <script>
	  	var unit = document.querySelector(".unit").textContent
		var btn = document.querySelector(".btn")

function unmark(){
	var marked = document.querySelectorAll(".mark")
	marked.forEach(mark => {
		mark.classList.remove("mark")
	})
}
		
// Marking Alogrithm
function mark(unit){
	unmark()
    var building = unit.slice(0, 3);
    if(unit.length == 6){
        var unitNum = unit.slice(4, 6);    
    } else {
    var unitNum = unit.charAt(4);
    }
    document.getElementById(`${building}`).classList.add("mark")
    document.getElementById(`${unitNum}`).classList.add("mark")
}

mark(unit)
	  </script>
   </body>
</html>